@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/mainpage.css">
    <link rel="icon" href="~/img/icon.ico" type="image/x-icon">
    <title>Olağan</title>
</head>

<body style="background-color: #faf5f1;">
   
        <div style="position:fixed;" >
            <hr class="horizontalLine" style="margin-left: 50px; margin-top: 160px;">
            <hr class="horizontalLine" style="margin-left: 50px; margin-top: 420px;">
            <div style="margin-left: 750px; height:710px; margin-top: 10px;" class="verticalLine"></div>
        </div>
       

        <div class="image-container" style="position: fixed; margin-top: 16%; left: 16%;">
            <img height="112px" src="~/img/olagansiir1.svg" alt="OlaganSiir" class="image1">
            <a href="/OlaganSiir"><img height="112px" src="~/img/olagansiir2.svg" alt="OlaganSiir" class="image2"></a>
        </div>

        <div class="image-container2" style="position: fixed; margin-top: 16%; margin-left: 55%;">
            <img height="112px" src="~/img/olaganhikaye1.svg" alt="OlaganHikaye" class="image3">
            <a href="/OlaganHikaye"><img height="112px" src="~/img/olaganhikaye2.svg" alt="OlaganHikaye" class="image4"></a>
        </div>

        <div style=" position: fixed; margin-top: 29%; margin-left: 13%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: small;">
            <p>Genel Yayın Yönetmeni: Aykut Nasip Kelebek</p>
            <p>Editör: Yunus Emre Koşar, Mahsum Oğrak, Yunus Emre Aklıbaşında</p>
            <p>Yayın Kurulu: Hasan Hüseyin Özbunar, Samet Kara </p> 
            <p>Tasarım: Selçuk Eser</p>
        </div>

    <div style="position: fixed; margin-top: 29%; margin-left: 53.5%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: small;">
            <p>Genel Yayın Yönetmeni: Yunus Emre Özsaray</p>
            <p>Hikaye Editörü: Gökhan Yılmaz </p>
            <p>Düşünce Yazıları Editörü: Rabia Altuntaş</p>
            <p>Sorumlu Yazı İşleri Müdürü: Elif Sönmezışık</p>
            <p>Yayın Kurulu: Büşra Çelik, Merve Çakır, Sebahat Meraki</p>
            <p>Son Okuma: Keziban Soylu</p>
            <p>Görsel Yönetmen: Zülkarneyn Erdem Özsaray</p>
        </div>

        <div style="position: fixed; bottom: 15px; right: 25px;">
            <img src="~/img/dd.svg" alt="" style="height: 75px;">
        </div>

    </div>
</body>

