@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/emirhan.css">
    <title>Olagan</title>
</head>
<body>
    <div class="container">
        <div class="grid-area">
        <div class="grid-1"></div>
        <div class="grid-2">
            <img class="logo" src="img/olaganhikaye1.svg" alt="">
        </div>
        <div class="grid-3">
            <p>

                Genel Yayın Yönetmeni: Aykut Nasip Kelebek
                <br>
                Editör: Yunus Emre Koşar, Mahsum Oğrak, Yunus Emre Aklıbaşında
                <br>
                Yayın Kurulu: Hasan Hüseyin Özbunar, Samet Kara
                <br>
                Görsel Yönetmen: Zülkarneyn Erdem Özsaray
                </p>
        </div>
        <div class="grid-4"></div>
        <div class="grid-5">
            <img class="logo" src="img/olagansiir1.svg" alt="">
        </div>
        <div class="grid-6">

            Genel Yayın Yönetmeni: Aykut Nasip Kelebek
            <br>
            Editör: Yunus Emre Koşar, Mahsum Oğrak, Yunus Emre Aklıbaşında
            <br>
            Yayın Kurulu: Hasan Hüseyin Özbunar, Samet Kara
            <br>
            Görsel Yönetmen: Zülkarneyn Erdem Özsaray
            </div>
    </div>
    </div>
</body>
</html>