@model OlağanWeb.Models.AutToken
@*@if (Model is not null)
{
    

<script>
    localStorage.setItem('AccessToken', '@Model.Token.AccessToken');
</script>


}*@

<form method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">User Name</label>
        <input type="text" name="UserName" class="form-control" id="exampleInputEmail1" aria-describedby="UserName" placeholder="Kullanıcı Adı">
    </div>

      <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Şifre">
  </div>

    <button type ="submit">Giriş Yap</button>

</form>